[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
isort = "*"
ipdb = "*"
bumpversion = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
flake8-bugbear = "*"
pytest-html = "*"
black = "==19.10b0"
mkdocs-material = "*"

[packages]
colin_net = {editable = true,path = "."}
jupyterlab = "*"
ipywidgets = "*"
plotly = "*"
pandas = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
