[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"
isort = "*"
ipdb = "*"
bumpversion = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
flake8-bugbear = "*"

[packages]
colin_net = {editable = true,path = "."}
jupyterlab = "*"
pydantic = "*"
tensorboardx = "*"
sentencepiece = "*"
ipywidgets = "*"
joblib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
